
@font-face {
    font-family: "Vazir";
    src: url("./assets/fonts/vazir-font-v18.0.0/Vazir-Bold.woff");
    font-family: Vazir;
    src: url("./assets/fonts/vazir-font-v18.0.0/Vazir.ttf") format("ttf");
    src: url("./assets/fonts/vazir-font-v18.0.0/Vazir.woff") format("woff");
    src: url("./assets/fonts/vazir-font-v18.0.0/Vazir.woff") format("woff2");
    }
    
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Vazir'
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
